@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

::-webkit-scrollbar {
  display: none;
  //width: 0;
  //height: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;

  &:focus {
    outline: none;
  }
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow-x: scroll;
  //overflow: hidden;


  //cursor: url(../img/minLogo.png), default;

}


main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;

  .menu-left {
    position: fixed;
    z-index: 10;
    left: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //background: #0000005e;
    background: #00000085;

    @media (max-width: 900px) {
      background: transparent;
      width: 0;

    }


    .logo {
      width: 100%;
      height: 10%;
      text-align: center;

      @media (max-width: 900px) {
        display: none;
      }

      img {
        width: 80px;
      }

    }

    .menu {
      width: 100%;
      height: 90%;
      justify-content: center;
      align-items: center;

      @media (max-width: 900px) {
        position: absolute;
        height: 100%;
        left: 0;
        width: 0;
      }

      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .menu-toggle {
        margin: 2.2em 0 0 0.8em;
        position: absolute;
      }

      ul {
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 900px) {
          display: none;
        }

        li {
          width: 100%;
          display: flex;
          align-items: center;

          &:hover a {
            color: yellowgreen;
            font-weight: bold;
          }

          .awesome {
            font-family: "FontAwesome", sans-serif;
            color: yellowgreen;
            font-size: 25px;
            width: 60px;
            padding: 0 0 0 30px;
          }

          a {
            text-decoration: none;
            font-size: 15px;
            font-family: "Comfortaa", sans-serif;
            font-weight: bold;
            color: #919191;
            transition: 0.4s;
            height: auto;
            padding: 0 0 0 10px;
          }
        }

      }


      .hamburger,
      .hamburger::before,
      .hamburger::after {
        content: '';
        display: block;
        background: #8ed425;
        height: 3px;
        width: 2em;
        border-radius: 3px;
        -webkit-transition: all ease-in-out 350ms;
        transition: all ease-in-out 350ms;
      }

      .hamburger::before {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
      }

      .hamburger::after {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
      }

      .open .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .open .hamburger::before {
        display: none;
      }

      .open .hamburger::after {
        -webkit-transform: translateY(-1px) rotate(-90deg);
        transform: translateY(-1px) rotate(-90deg);
      }

      @media (min-width: 901px) {

        .menu-toggle {
          display: none;
        }
      }


      ul.opening {
        display: flex;
        background: #0000005e;
        padding-top: 5em;
        border: 1px solid transparent;
        box-sizing: border-box;
        width: 50vw;

        //li {
        //  margin: 60px 0 60px 0;
        //}
      }

    }

  }

  .menu-links {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    position: fixed;
    padding: 15px;
    z-index: 8;

    a {
      margin: 0 15px 0 0;
      width: 50px;
      height: 50px;
      background: #0000005e;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      //filter: opacity(0.3);
      //transition: 1s;
      font-size: 25px;
      font-family: "FontAwesome", sans-serif;
      color: white;
      text-decoration: none;


      &:hover {
        filter: none;
        color: #8ed425;
        transition: 0.4s;
      }

    }
  }

  .line-status {
    position: fixed;
    z-index: 3;
    bottom: 25px;

    @media (max-width: 767px) {
      display: flex;
      //align-items: flex-end;
      //bottom: auto;
      //transform: rotate(90deg);
      transform: scale(0.7);
      left: -138px;
      //height: 95vw;
    }

    a {
      text-decoration: none;
      color: white;
      position: relative;
      width: 120px;
      border-bottom: 1px solid white;
      float: left;
      font-family: "Comfortaa", sans-serif;

      &:first-child {
        border-color: transparent;
        color: yellowgreen;

        &:after {
          background: yellowgreen;
        }
      }

      span {
        position: absolute;
        right: 0;
        bottom: 5px;
        transform: translateX(50%);
        width: 100%;
        text-align: center;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: -4px;
        bottom: -4px;
        width: 8px;
        height: 8px;
        background: white;
        z-index: 1;
        border-radius: 50%;
      }

      &:hover:after {
        transform: scale(1.7);
        background: yellowgreen;
      }
    }

    a.active {
      text-decoration: none;
      color: yellowgreen;

      &:after {
        background: yellowgreen;
      }
    }

    .progress {
      display: inline-block;
      position: absolute;
      bottom: 0;
      background: yellowgreen;
      left: 120px;
      height: 1px;
    }

  }


  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw * 5);
    display: flex;
    height: 100%;


    ::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }

    .screen-item {
      width: 100vw;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      //overflow-x: hidden;
      //overflow-y: hidden;

      video {
        filter: blur(5px);
        width: 100%;
        height: auto;
        //transform: scale(1.01);
        //margin: 0 0 0 10px;
      }

      p {
        position: absolute;
        z-index: 3;
        font-family: 'Comfortaa', sans-serif;
        font-size: 35px;
        margin: 0;
        color: white;

        border-radius: 50%;
        height: 35px;
        text-align: center;
        width: 35px;
        background: darkred;
      }

      img {
        z-index: 2;
      }


    }

    .screen-item:first-child {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .bgf::before {
        //width: 100%;
        //height: 100%;
        position: absolute;
        background: url("../img/0.jpg") no-repeat center;
        //filter: blur(0) brightness(0.7);

      }

      .bgf {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.2) border-box;
        position: fixed;
        //transform: scale(1.1);
      }

      .bgf::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -30px;
        z-index: -1;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        //transform: scale(1.1);
      }

      img {
        position: absolute;
        width: 550px;

        @media (max-width: 767px) {
          width: 70%;
        }

      }

      //margin-right: -100vw;

    }

    .screen-item:nth-child(2) {

      video {
        filter: blur(5px);
        transform: scale(1.01);
        //margin: 0 0 0 10px;

      }

    }
  }

  //.blur {
  //  filter: blur(10px);
  //  transform: scale(1.4);
  //  overflow: ;
  //}


  #right {
    height: 100%;
    //overflow: hidden;

    #video-container1 {
      width: 100%;
      height: 100%;
    }

    .screen-item:first-child {
      overflow: hidden;
      height: 100%;

      @media (max-width: 767px) {

        .bgf {
          position: fixed;

        }

      }

    }

    .screen-item:nth-child(2) {
      overflow: hidden;

      @media (max-width: 767px) {

        video {
          //height: 100% !important;
          //width: auto !important;
          //transform: scale(1.02);
          //margin:0;
          display: none;
        }

      }

    }

  }

  #second {

  }

  #third {

  }

  #fourth {

  }

  #fifth {
    height: 100%;
    position: relative;
    display: flex;
    overflow: visible;
    //overflow: scroll;
    //align-items: center;
    //justify-content: center;

    background: linear-gradient(221deg, #808080, #131925, #665d58);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 52s ease infinite;
    -moz-animation: AnimationName 52s ease infinite;
    animation: AnimationName 52s ease infinite;

    @-webkit-keyframes AnimationName {
      0% {
        background-position: 20% 0%
      }
      50% {
        background-position: 81% 100%
      }
      100% {
        background-position: 20% 0%
      }
    }
    @-moz-keyframes AnimationName {
      0% {
        background-position: 20% 0%
      }
      50% {
        background-position: 81% 100%
      }
      100% {
        background-position: 20% 0%
      }
    }
    @keyframes AnimationName {
      0% {
        background-position: 20% 0%
      }
      50% {
        background-position: 81% 100%
      }
      100% {
        background-position: 20% 0%
      }
    }


    .screen-item {
      padding: 0 0 0 200px;
      display: flex;
      justify-content: space-around;
      //align-items: center;
      flex-wrap: wrap;


      overflow: scroll;


      @media (max-width: 900px) {
        padding: 0 0 0 0;
      }

      //video {
      //  position: fixed;
      //  top: 0;
      //  left: 0;
      //  filter: brightness(50%) blur(5px);
      //  transform: scale(1.02);
      //}
      //
      //video {
      //
      //  @media (max-width: 768px) {
      //    //height: 100% !important;
      //    //width: auto !important;
      //    //transform: scale(1.02);
      //    //margin: 0;
      //
      //    display: none;
      //
      //  }
      //}

      .logo {
        width: 100%;
        height: 180px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        @media (max-width: 940px) {
          margin: 140px 0 0 0;
        }

        img {
          width: 300px;
          height: 180px;
        }
      }

      .name {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 24%;
        z-index: 2;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
        padding: 20px;

        @media (max-width: 1050px) {
          width: 44%;
          padding: 40px;
          background: #10101073;
          margin: 20px;
          border-radius: 10px;
        }

        @media (max-width: 880px) {
          width: 90%;
          padding: 40px;
          background: #10101073;
          margin: 20px;
          border-radius: 10px;
        }

        @media (max-width: 425px) {
          width: 90%;
          padding: 40px;
          background: #10101073;
          margin: 20px;
          border-radius: 10px;
        }

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          position: unset;
          margin-bottom: 40px;
        }

        p {
          font-family: 'Comfortaa', sans-serif;
          font-size: 15px;
          text-align: justify;
          color: #919191;
          width: 100%;
        }

        span {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            font-family: 'FontAwesome', sans-serif;
            font-size: 40px;
            text-decoration: none;
            color: #9acd32;
          }
        }

      }

      nav {
        width: 90%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 100px 0 0 0;

        @media (max-width: 1050px) {
          width: 44%;
          padding: 40px;
          background: #10101073;
          margin: 20px;
          border-radius: 10px;
        }

        @media (max-width: 880px) {
          width: 90%;
          padding: 40px;
          background: #10101073;
          margin: 20px;
          border-radius: 10px;
        }

        @media (max-width: 425px) {
          //width: 100%;
          //padding: 50px;
          width: 90%;
          padding: 40px;
          background: #10101073;
          margin: 20px;
          border-radius: 10px;
        }

        p {
          width: 100%;
          height: auto;
          color: #919191;
          font-family: 'Comfortaa', sans-serif;
          font-size: 15px;
          text-align: justify;
          display: flex;

          span {
            width: auto;
            display: block;
            text-decoration: none;
          }

          .green-item {
            color: #9acd32;
            margin: 0 10px 0 0;
          }
        }
      }

    }

    .screen-item:first-child {
      overflow: hidden;
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;

      //@media (max-width: 768px) {
      //
      //  display: block;
      //
      //}

      .bgf::before {
        //width: 100%;
        //height: 100%;
        position: absolute;
        background: url("../img/0.jpg") no-repeat center;
        //filter: blur(0) brightness(0.7);

      }

      .bgf {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.2) border-box;
        position: absolute;
      }

      .bgf::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -30px;
        z-index: -1;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }


      //margin-right: -100vw;

      @media (max-width: 768px) {

        .bgf {
          position: fixed;
        }

      }

    }

  }

}