@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}


.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-left {
    position: fixed;
    z-index: 2;
    left: 0;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #0000005e;

    .menu-toggle {
      position: absolute;
      padding: 1em;
      top: 1em;
      cursor: pointer;
    }

    @media (min-width: 767px) {

      .menu-toggle {
        display: none;
      }
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
      content: '';
      display: block;
      background: #EBEBD3;
      height: 3px;
      width: 2em;
      border-radius: 3px;
      -webkit-transition: all ease-in-out 350ms;
      transition: all ease-in-out 350ms;
    }

    .hamburger::before {
      -webkit-transform: translateY(-7px);
      transform: translateY(-7px);
    }

    .hamburger::after {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }

    .open .hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .open .hamburger::before {
      display: none;
    }

    .open .hamburger::after {
      -webkit-transform: translateY(-1px) rotate(-90deg);
      transform: translateY(-1px) rotate(-90deg);
    }

    ul.opening {
      display: block;
      height: auto;
      margin: 0 6px 4px 50px;
      padding-top: 80px;
      position: absolute;


      li {
        padding: 1.5em 4em 1.5em 3em;
        width: 145px;
        font-size: 14px;
      }

      li:last-of-type {
        display: none;
      }

    }


    a {
      width: 80px;
      height: 10%;

      img {
        width: 80px
      }
    }

    .menu {
      width: 100%;
      height: 75%;
      display: flex;
      justify-content: center;
      align-items: center;

      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      ul {
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            text-decoration: none;
            font-size: 15px;
            font-family: "Comfortaa", sans-serif;
            font-weight: bold;
            color: white;
            transition: 0.4s;

            &:hover {
              color: #8ed425;
            }
          }
        }
      }

    }

  }

  .menu-links {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    position: fixed;
    padding: 15px;
    z-index: 10;

    a {
      margin: 0 15px 0 0;
      width: 50px;
      height: 50px;
      background: #0000005e;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      //filter: opacity(0.3);
      //transition: 1s;
      font-size: 25px;
      font-family: "FontAwesome", sans-serif;
      color: white;
      text-decoration: none;


      &:hover {
        filter: none;
        color: #8ed425;
        transition: 0.4s;
      }

    }
  }

  .line-status {
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    position: fixed;
    padding: 15px;
    z-index: 2;


    .progress-container {
      width: 100%;
      background: transparent;
      height: 5px;
      display: block;
      position: relative;

      svg {
        position: absolute;

      }
    }

    .progress-bar {
      background: #9bc65a;
      width: 0;
      height: inherit;
      border-radius: 50px;
      display: flex;
      align-items: center;

    }

  }

  .scroll-content-right {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    display: flex;
    height: 100vh;
    //padding-left: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;


    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .screen-item {
      width: 100vw;
      height: 100%;
      //overflow-y: hidden;

      video {
        filter: blur(5px);
        width: 100%;
        height: auto;
        //transform: scale(1.01);
        //margin: 0 0 0 10px;
      }

    }

    .screen-item:first-child {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .bgf::before {
        //width: 100%;
        //height: 100%;
        position: absolute;
        background: url("../img/0.jpg") no-repeat center;
        //filter: blur(0) brightness(0.7);

      }

      .bgf {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.2) border-box;
        position: absolute;
      }

      .bgf::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -30px;
        z-index: -1;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }

      img {
        position: absolute;
        width: 550px;
      }

      //margin-right: -100vw;

    }

    .screen-item:nth-child(2) {

      video {
        filter: blur(5px);
        transform: scale(1.01);
        margin: 0 0 0 10px;
      }

    }
  }

  #second {

  }

  #third {

  }

  #fourth {

  }

  #fifth {
    position: relative;
    display: flex;
    //align-items: center;
    //justify-content: center;

    .screen-item {
      padding: 0 0 0 200px;
      display: flex;
      justify-content: space-around;
      //align-items: center;
      flex-wrap: wrap;
      overflow-y: scroll;

      video {
        position: fixed;
        top: 0;
        left: 0;
        filter: brightness(50%) blur(5px);
      }

      .logo {
        width: 100%;
        height: 180px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        img {
          width: 300px;
          height: 180px;
        }
      }

      .name {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 20%;
        z-index: 2;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          position: unset;
          margin-bottom: 40px;
        }

        p {
          font-family: 'Comfortaa', sans-serif;
          font-size: 15px;
          text-align: justify;
          color: white;
        }
      }

    }

  }

  .section {
    display: none;
  }

  .active {
    display: flex;
  }


}