::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .bgf::before {
    //width: 100%;
    //height: 100%;
    position: absolute;
    background: url("../img/0.jpg") no-repeat center;
    //filter: blur(0) brightness(0.7);

  }

  .bgf {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.2) border-box;
    overflow: hidden;
    position: fixed;
  }

  .bgf::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -30px;
    z-index: -1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }


  img {
    position: absolute;
    width: 550px;
  }

  .menu-left {
    position: fixed;
    z-index: 2;
    left: 0;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #0000005e;


    a {
      width: 80px;
      height: 25%;

      img {
        width: 80px
      }
    }

    .menu {
      width: 100%;
      height: 75%;
      display: flex;
      justify-content: center;
      align-items: center;

      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      ul {
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
          width: 100%;

          a {
            text-decoration: none;
            font-size: 17px;
            font-family: "Comfortaa", sans-serif;
            font-weight: bold;
            color: white;
          }
        }
      }

    }

  }

  .menu-links {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    position: fixed;
    padding: 15px;
    z-index: 2;

    a {
      margin: 0 15px 0 0;
      width: 50px;
      height: 50px;
      background: #0000005e;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      filter: opacity(0.5);
      transition: 1s;


      &:hover {
        filter: none;

        img {
          transform: scale(1.1);
          transition: 1s;
        }
      }

      img {
        height: 20px;
        width: auto;
        position: unset;
      }
    }
  }

  .scroll-content-right {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    display: flex;
    height: 100vh;
    padding-left: 100vw;
    overflow-x: scroll;

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .screen-item {
      width: 1920px;
      height: 100%;
    }

    .screen-item:first-child {
      background: red;
      //margin-right: -100vw;

    }

    .screen-item:nth-child(2) {
      background: greenyellow;
    }
  }

}