@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: scroll;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main .menu-left {
  position: fixed;
  z-index: 10;
  left: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #0000005e;
}
@media (max-width: 767px) {
  .main .menu-left {
    background: transparent;
  }
}
.main .menu-left a {
  width: 80px;
  height: 10%;
}
.main .menu-left a img {
  width: 80px;
}
@media (max-width: 425px) {
  .main .menu-left a img {
    display: none;
  }
}
.main .menu-left .menu {
  width: 100%;
  height: 75%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .main .menu-left .menu {
    position: absolute;
    height: 100%;
    left: 0;
    width: 0;
  }
}
.main .menu-left .menu ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.main .menu-left .menu .menu-toggle {
  margin: 2.2em 0 0 0.8em;
  position: absolute;
}
.main .menu-left .menu ul {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .main .menu-left .menu ul {
    display: none;
  }
}
.main .menu-left .menu ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .menu-left .menu ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  color: white;
  transition: 0.4s;
}
.main .menu-left .menu ul li a:hover {
  color: #8ed425;
}
.main .menu-left .menu .hamburger,
.main .menu-left .menu .hamburger::before,
.main .menu-left .menu .hamburger::after {
  content: "";
  display: block;
  background: #8ed425;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}
.main .menu-left .menu .hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
.main .menu-left .menu .hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.main .menu-left .menu .open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main .menu-left .menu .open .hamburger::before {
  display: none;
}
.main .menu-left .menu .open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}
@media (min-width: 767px) {
  .main .menu-left .menu .menu-toggle {
    display: none;
  }
}
.main .menu-left .menu ul.opening {
  display: flex;
  background: #0000005e;
  padding-top: 5em;
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 50vw;
}
.main .menu-links {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  align-items: center;
  position: fixed;
  padding: 15px;
  z-index: 8;
}
.main .menu-links a {
  margin: 0 15px 0 0;
  width: 50px;
  height: 50px;
  background: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  font-family: "FontAwesome", sans-serif;
  color: white;
  text-decoration: none;
}
.main .menu-links a:hover {
  filter: none;
  color: #8ed425;
  transition: 0.4s;
}
.main .scroll-content-right {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  display: flex;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}
.main .scroll-content-right ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.main .scroll-content-right .screen-item {
  width: 100vw;
  height: 100%;
}
.main .scroll-content-right .screen-item video {
  filter: blur(5px);
  width: 100%;
  height: auto;
}
.main .scroll-content-right .screen-item:first-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .scroll-content-right .screen-item:first-child .bgf::before {
  position: absolute;
  background: url("../img/0.jpg") no-repeat center;
}
.main .scroll-content-right .screen-item:first-child .bgf {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2) border-box;
  position: absolute;
}
.main .scroll-content-right .screen-item:first-child .bgf::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -30px;
  z-index: -1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main .scroll-content-right .screen-item:first-child img {
  position: absolute;
  width: 550px;
}
@media (max-width: 767px) {
  .main .scroll-content-right .screen-item:first-child img {
    width: 70%;
  }
}
.main .scroll-content-right .screen-item:nth-child(2) video {
  filter: blur(5px);
  transform: scale(1.01);
}
.main #first {
  height: 100%;
}
@media (max-width: 767px) {
  .main #first .screen-item:first-child .bgf {
    position: fixed;
  }
}
.main #first .screen-item:nth-child(2) {
  overflow: hidden;
}
@media (max-width: 767px) {
  .main #first .screen-item:nth-child(2) video {
    display: none;
  }
}
.main #fifth {
  position: relative;
  display: flex;
  overflow: scroll;
}
.main #fifth .screen-item {
  padding: 0 0 0 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .main #fifth .screen-item {
    padding: 0 0 0 0;
  }
}
.main #fifth .screen-item video {
  position: fixed;
  top: 0;
  left: 0;
  filter: brightness(50%) blur(5px);
  transform: scale(1.02);
}
@media (max-width: 768px) {
  .main #fifth .screen-item video {
    display: none;
  }
}
.main #fifth .screen-item .logo {
  width: 100%;
  height: 180px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .main #fifth .screen-item .logo {
    padding: 90px 0 0 0;
  }
}
.main #fifth .screen-item .logo img {
  width: 300px;
  height: 180px;
}
.main #fifth .screen-item .name {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 20%;
  z-index: 2;
}
@media (max-width: 425px) {
  .main #fifth .screen-item .name {
    width: 100%;
    padding: 50px;
  }
}
.main #fifth .screen-item .name img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: unset;
  margin-bottom: 40px;
}
.main #fifth .screen-item .name p {
  font-family: "Comfortaa", sans-serif;
  font-size: 15px;
  text-align: justify;
  color: white;
}
.main #fifth .screen-item:first-child {
  overflow: hidden;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .main #fifth .screen-item:first-child {
    display: block;
  }
}
.main #fifth .screen-item:first-child .bgf::before {
  position: absolute;
  background: url("../img/0.jpg") no-repeat center;
}
.main #fifth .screen-item:first-child .bgf {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2) border-box;
  position: absolute;
}
.main #fifth .screen-item:first-child .bgf::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -30px;
  z-index: -1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .main #fifth .screen-item:first-child .bgf {
    position: fixed;
  }
}

/*# sourceMappingURL=main.css.map */
